<p>
  {{ title }}
</p>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" [(ngModel)]="ingredient" [ngModelOptions]="{standalone: true}" value="Sushi">
  </mat-form-field>

  <button (click)="addIngredient()" mat-button>Agregar ingrediente</button>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment" [(ngModel)]="valueB" [ngModelOptions]="{standalone: true}"></textarea>
  </mat-form-field>
</form>

<p>
  {{ valueB }}
</p>

<p>///////////////////////////////////////////////////////////////////////////////////</p>

<mat-list>
  <mat-list-item *ngFor="let item of ingredients"> {{ item }} </mat-list-item>
 </mat-list>